.container {
  @apply fixed z-50 flex flex-col justify-between right-0 bg-white border-l border-border overflow-y-auto;
  width: 480px;
  height: 100%;
}

.title {
  @apply text-primary-3 font-semibold text-xl;
}

@media screen and (max-width: 640px) {
  .container {
    @apply hidden;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .container {
    @apply hidden;
  }
}
