.header {
  @apply fixed z-40 w-full bg-white border-b border-b-border;
}

.order {
  padding-right: 480px;
}

.title {
  @apply text-3xl;
}

.subtitle {
  @apply text-2xl;
}

@media screen and (max-width: 640px) {
  .header {
    @apply border-none;
  }

  .order {
    @apply pr-0;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .order {
    @apply pr-0;
  }
}
