.container {
  @apply relative;
}

.card {
  @apply flex flex-col space-y-2 !rounded-2xl;
  min-height: 19rem;
}

.card > div {
  @apply p-4 space-y-1;
}

.card > div > h1 {
  @apply font-semibold capitalize;
}

.card > div > h2 {
  @apply text-orange;
}

.card > div > p {
  @apply text-sm text-neutral-5;
}

.images {
  @apply absolute flex justify-center w-full;
  top: 35px;
}

.photo {
  @apply rounded-full;
  width: 140px;
  height: 140px;
}
