.header {
  @apply flex items-center justify-between p-4 border-b border-b-border;
}

.header > p {
  @apply text-base font-semibold text-orange;
}

.customer {
  @apply text-sm;
}

.customer > tr > th {
  @apply font-normal text-left text-neutral-5 pr-8 pb-2;
}

.customer > tr > td::before {
  content: ': ';
}

.paymentButton {
  @apply relative p-3 border flex flex-col items-center gap-1 rounded-2xl;
}

.paymentButton > svg,
.paymentButton > p {
  @apply text-neutral-2;
}

.paymentActive {
  @apply !border-border;
}

.paymentActive > svg,
.paymentActive > p {
  @apply !text-primary;
}

.wrapper {
  @apply grid grid-cols-2 gap-8;
}

.payment {
  @apply flex flex-col gap-8;
}

.wrapperCustomer {
  @apply grid grid-cols-2 gap-8;
}

@media screen and (max-width: 640px) {
  .wrapper {
    @apply grid-cols-1 gap-4;
  }

  .payment {
    @apply gap-4;
  }

  .wrapperCustomer {
    @apply grid-cols-1 gap-4;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .wrapperCustomer {
    @apply grid-cols-1 gap-4;
  }
}
