.navbar {
  @apply flex items-center justify-between w-full p-8;
}

.menu {
  @apply border-b border-b-border;
}

.title > h1 {
  @apply text-xl font-bold;
}

.title > p {
  @apply text-neutral-5;
}

.navMenu {
  @apply p-3 rounded-xl border border-orange;
}

.navMenu > svg {
  color: #ea7c69;
}

.navMenu.active {
  @apply bg-orange;
}

.navMenu.active > svg {
  color: #fff;
}
