.navbar {
  @apply flex items-center justify-between w-full px-8 py-4;
}

.menu {
  @apply border-b border-b-border;
}

.title > h1 {
  @apply text-xl font-bold;
}

.title > p {
  @apply text-neutral-5;
}

.report {
  @apply p-3 rounded-full border border-orange;
}
